@{
  Layout = "_Layout";
}

@using CatFish.Models

@model IEnumerable<ApplicationUser>

<div class="card col-md-5 mx-auto text-center">
  <div class="card-body">
    <h2>CatFish</h2>
    <p>Swipe and see who you matched with!</p>
    <hr>
    <div class="card col-md-10 mx-auto text-center">
      @if (Model.Any())
      {
        @foreach (var user in Model)
        {
          <p>@user.FirstName</p>
          <img src='@Url.Content("~/img/ProfilePictures/" + user.ImageName)' alt="Default profile image.">
          <p>@user.About</p>
          <ul class="list-group list-group-horizontal mx-100% text-left">
            <li class="list-group-item">@user.Age</li>
            <li class="list-group-item">@user.Species</li>
            <li class="list-group-item">@user.Breed</li>
          </ul>
        }
      }
      else
      {
        <p>No Users Yet.</p>
      }
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card">
              <button type="submit" class="btn btn-danger">Left :(</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <button type="submit" class="btn btn-success">Right ;)</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>