@{
  Layout = "_Layout";
}

@model CatFish.Models.ApplicationUser

@if (User.Identity.IsAuthenticated)
{
  <h2>Account Details</h2>
  <div class="card">
    <div class="card-body">
      @if (Model.FirstName == null)
      {
        <h5 class="text-center">Hello @User.Identity.Name</h5>
      }
      else
      {
        <h5 class="text-center">Hello @Model.FirstName @Model.LastName!</h5>
      }
      <hr>
      <div class="row">
        <!-- Profile details section -->
        <div class="col-md-9">
          @if (Model.ImageName == null)
          {
            <img src="~/img/DefaultPFP.png" class="img-thumbnail rounded h-25 mx-auto d-block" alt="Default profile image." height="200">
          }
          else
          {
            <img src='@Url.Content("~/img/ProfilePictures/" + Model.ImageName)' class="img-thumbnail rounded h-25 mx-auto d-block" alt="Default profile image." height="200">
            <p class="text-center">@Model.Bio</p>
          }
          <p><strong>Full Name:</strong> @Model.FirstName @Model.LastName</p>
          <p><strong>@Html.DisplayNameFor(model => model.Age):</strong> @Model.Age</p>
          <p><strong>@Html.DisplayNameFor(model => model.Species):</strong> @Model.Species</p>
          <p><strong>@Html.DisplayNameFor(model => model.Breed):</strong> @Model.Breed</p>
          <p><strong>@Html.DisplayNameFor(model => model.Gender):</strong> @Model.Gender</p>
          <p><strong>@Html.DisplayNameFor(model => model.About):</strong> @Model.About</p>
        </div>
        <!-- Profile Buttons section -->
        <div class="col-md-3">
          <p><a href='@Url.Action("Edit", "Account")'><button class="btn btn-primary w-100">Customize Account</button></a></p>
          <p><a href='@Url.Action("Delete", "Account")'><button class="btn btn-primary w-100">Delete Account</button></a></p>
          @using (Html.BeginForm("LogOff", "Account"))
          {
            <input type="submit" value="Log out" class="btn btn-primary w-100">
          }
        </div>
      </div>
    </div>
  </div>
}
else
{
  <div class="card col-md-5 mx-auto text-center">
    <div class="card-body">
      <h2 class="card-title">Account</h2>
      <hr>
      <p><a href='@Url.Action("Register", "Account")'><button class="btn btn-primary w-100">Register new account</button></a></p>
      <p><a href='@Url.Action("Login", "Account")'><button class="btn btn-primary w-100">Login</button></a></p>
    </div>
  </div>
}