@{
  Layout = "_Layout";
}

@using CatFish.Models

@model IEnumerable<ApplicationUser>

<div class="container-fluid">
  <div class="d-flex justify-content-center"> 
    <h2 id="title" style="font-size:10vw">Matches</h2>
  </div>

  <div class="row row-cols-2 row-cols-md-2 g-4">
    @foreach (var user in Model)
    {
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src='@Url.Content("~/img/ProfilePictures/" + user.ImageName)' class="img-fluid rounded-start" alt="Default profile image.">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">@user.FirstName</h5>
              <hr>
              <p class="card-text">@user.About</p>
              <p class="card-text">@user.Age</p>
              <p class="card-text">@user.Species</p>
              <p class="card-text">@user.Breed</p>
            </div>
          </div>
        </div>
      </div>
    }
  </div> 
</div>