@{
  Layout = "_Layout";
}

@using CatFish.Models

@model CatFish.Models.ApplicationUser
@* @if(TempData["success"] != null)
{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script type="text/javascript">
    toastr.success('@TempData["success"]');
  </script>
} *@
<h2>Users</h2>
@if (Model != null)
{
  @using (Html.BeginForm("Create", "Matches"))
  {
    <p>@Model.FirstName</p>
    <p>@Model.Id</p>
    @Html.Hidden("id", @Model.Id)
    <button type="submit" class="btn btn-outline-danger" name="responseValue" value="0">No Match</button>
    <button type="submit" id="myBtn" class="btn btn-outline-success" name="responseValue" value="1">Match</button>
  }
}
else
{
  <p>No other users to show.</p>
}
