@{
  Layout = "_Layout";
}

@using CatFish.Models

@model IEnumerable<ApplicationUser>

<h2>Users</h2>
@if (Model.Any())
{
  @foreach (var user in Model)
  {
    @* <img src='@Url.Content("~/img/ProfilePictures/" + user.ImageName)' alt="Default profile image."> *@
    @using (Html.BeginForm("Create", "Matches"))
    {
      <p>@user.FirstName</p>
      <p>@user.Id</p>
      @Html.Hidden("id", @user.Id)
      <button type="submit" class="btn btn-outline-danger" name="responseValue" value="0">No Match</button>
      <button type="submit" class="btn btn-outline-success" name="responseValue" value="1">Match</button>
    }
  }
}
else
{
  <p>No Users Yet.</p>
}
