@{
  Layout = "_Layout";
}

@using CatFish.Models

@model CatFish.Models.ApplicationUser



<div class="card col-md-5 mx-auto text-center">
  <div class="card-body">
    <h2>Swipe and see who you matched with!</h2>
    <hr>
    <div class="card col-md-10 mx-auto text-center">
      @if (Model != null)
      {
        @using (Html.BeginForm("Create", "Matches"))
        {
          <h3>@Model.FirstName</h3>
          @Html.Hidden("id", @Model.Id)
          if (@Model.ImageName != null)
            {
              <img src='@Url.Content("~/img/ProfilePictures/" + Model.ImageName)' alt="Default profile image." class="rounded img-fluid" height="300">
            }
            else
            {
              <img src="~/img/DefaultPFP.png" id="navbar-pfp" class="rounded" alt="Default profile image." class="rounded img-fluid" height="300">
            }
          <h3>@Model.About</h3>
          <ul class="list-group list-group-horizontal d-flex justify-content-center mx-100%">
            <li class="list-group-item">Age: @Model.Age</li>
            <li class="list-group-item">Species: @Model.Species</li>
            <li class="list-group-item">Breed: @Model.Breed</li>
          </ul>
          <div class="row g-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-danger col-sm-6" name="responseValue" value="0">Left :(</button>
          <button type="submit" class="btn btn-success col-sm-6" name="responseValue" value="1">Right ;)</button>
          </div>
        }
      }
      else
      {
        <p>No other users to show.</p>
      }
    </div>
  </div>
</div>